<form role="editUserForm" class="col-md-6">

    <div class="form-group">
        <label for="username">User Name</label>
        <input type="text" ng-disabled="true" ng-model="accountingUser.username" class="form-control" name="username" id="username" placeholder="Enter User Name" />
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" ng-model="accountingUser.email" class="form-control" name="email" id="email" placeholder="Enter User Email" />
    </div>
    <div class="form-group">
        <label for="first_name">First Name</label>
        <input type="text" ng-model="accountingUser.first_name" class="form-control" name="username" id="first_name" placeholder="Enter First Name" />
    </div>
    <div class="form-group">
        <label for="last_name">Last Name</label>
        <input type="text" ng-model="accountingUser.last_name" class="form-control" name="last_name" id="last_name" placeholder="Enter Last Name" />
    </div>
    <div class="form-group">
        <label for="role">Role</label>

        <select ng-disabled="true" ng-model="accountingUser.role" class="form-control" name="role" id="role"
                ng-options="item.role as item.role_name for item in roles" required="true">
            <option value="">Select Role</option>
        </select>
    </div>

    <div class="btn-group col-md-8" role="group">
        <button class="btn btn-primary" ng-click="save()">Save</button>
        <button type="button" class="btn btn-link" ng-click="cancel()">Cancel</button>
    </div>
</form>