<modal title="CreateAccount form" class="col-md-6">
    <form role="createAccountForm">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="name" ng-model="name" class="form-control" name="name" id="name" placeholder="Enter Name"/>
        </div>
        <div class="form-group">
            <label for="initialBalance">Initial Balance</label>
            <input type="initialBalance" ng-model="initialBalance" class="form-control" name="initialBalance"
                   id="initialBalance" placeholder="Enter Balance"/>
        </div>
        <div class="form-group">
            <label for="side">Normal Side</label>
            <input type="side" ng-model="side" class="form-control" name="side" id="side" placeholder="Enter Side"/>
        </div>
        <div class="form-group">
            <label for="category">Category</label>
            <input type="category" ng-model="category" class="form-control" name="category" id="category"
                   placeholder="Enter Category"/>
        </div>

        <div class="btn-group  btn-group-justified col-md-6" role="group">
            <div class="btn-group" role="group">
                <button type="submit" class="btn btn-primary" ng-click="save()">Submit</button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-link" ng-click="cancel()">Cancel</button>
            </div>
        </div>
    </form>
    <div class="alert alert-danger" ng-show="errormessage">
        <strong>Error!</strong> {{errormessage}}
    </div>
</modal>
