<modal title="CreateTrans form">

    <form role="createTransForm">
        <div class="form-group">
            <div class="form-group">
                <label for="description">Description</label>
                <input type="description" ng-model="tForm.description" class="form-control" name="description"
                       id="description" placeholder="Enter Description"/>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Entries:</div>
                <div id="entryGroup" ng-repeat="item in tForm.entry" class="form-inline panel-body">
                <div class="form-group col-md-4">
                    <label for="account">Account</label>

                    <select ng-model="item.accountid" class="form-control" name="account" id="account"
                            ng-options="item.id as item.name for item in accounts">
                        <option value="">Select Account</option>
                    </select>
                </div>

                <div class="form-group col-md-4">
                    <label for="amount">Amount</label>

                    <div class="input-group">
                        <div class="input-group-addon">$</div>
                        <input type="text" ng-model="item.amount" class="form-control" name="amount"
                               id="amount"/>
                    </div>
                </div>

                <div class="form-group col-md-2">
                    <div class="radio">
                        <label>
                            <input type="radio" name="credit" ng-model="item.debit" value="false">
                            Credit
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="debit" ng-model="item.debit" value="true">
                            Debit
                        </label>
                    </div>
                </div>
                <div class="col-md-1" ng-if="tForm.entry.length>1">
                    <button type="button" class="btn btn-default" ng-click="removeEntry(item)">Delete</button>
                </div>

            </div>

        </div>
        <div class="form-group form-inline col-xs-10">
            <div class="center-block">
                <button type="button" class="btn btn-default" ng-click="addEntry()" ng-show="showSave">Add Entry</button>
            </div>
        </div>
        <div class="form-group form-inline col-xs-10">
            <div class="col-md-2"></div>
            <div class="col-md-2">
                <button type="button" class="btn btn-link" ng-click="cancel()">Cancel</button>
            </div>

            <div class="col-md-2">
                <button type="submit" class="btn btn-primary" ng-click="save()" ng-show="showSave">Submit</button>
            </div>
            <div class="col-md-2">
                <button type="approve" class="btn btn-success" ng-click="approve()" ng-show="showApprove">Approve</button>
            </div>
            <div class="col-md-2">
                <button type="reject" class="btn btn-danger" ng-click="reject()"ng-show="showApprove">Reject</button>
            </div>
        </div>
    </form>
    <div class="alert alert-danger" ng-show="errormessage">
        <strong>Error!</strong> {{errormessage}}
    </div>
</modal>