<div class="panel panel-default col-md-8">
    <div class="panel-heading text-center">Income Statement:</div>

    <ul class="list-unstyled">
        <il>
            <div><label>Revenues</label></div>
        </il>
        <il>
            <ul class="list-unstyled">
                <div ng-repeat="account in revenues">
                    <il>
                        <div class="col-md-10">{{account.name}}</div>
                        <div class="col-xs-1 text-right">{{account.balance}}</div>
                    </il>
                </div>
                <ul>
                    <il class="list-unstyled">
                        <div class="col-md-10"> Total Revenues</div>
                        <div class="col-xs-1 text-right"><u>${{totalRevenue}}</u></div>
                    </il>
                </ul>
            </ul>
        </il>


        <il>
            <div><label>Expenses</label></div>
        </il>
        <il>
            <ul class="list-unstyled">
                <div ng-repeat="account in expenses">
                    <il>
                        <div class="col-md-8">{{account.name}}</div>
                        <div class="col-md-2 text-right">{{account.balance}}</div>
                    </il>
                </div>
                <ul>
                    <il class="list-unstyled">
                        <div class="col-md-8"> Total Expenses</div>
                        <div class="col-md-2 text-right"><u>${{totalExpense}}</u></div>
                    </il>
                </ul>
            </ul>
        </il>

        <il>
            <div class="col-md-10"><label>Net Income</label></div>
            <div class="col-xs-1"><u>${{netIncome}}</u></div>
        </il>
    </ul>
</div>