<modal title="Login form" visible="showLogon">
    <form role="logonForm">
        <div class="form-group">
            <label for="userId">Username</label>
            <input type="userId" ng-model="username" class="form-control" name="userId" id="userId" placeholder="Enter Username" />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" ng-model="password" class="form-control" name="password" id="password" placeholder="Password" />
        </div>
        <button class="btn btn-default" ng-click="logon()">Submit</button>
    </form>
</modal>