<modal title="Reset Password form"class="col-md-6">
    <div class="alert alert-danger" ng-show="errormessage">
        <strong>Error!</strong> {{errormessage}}
    </div>
    <form role="resetPasswordForm">
        <div class="form-group">
            <label>You must reset your password</label>
            <label for="password">New Password</label>
            <input type="password" ng-model="password" class="form-control" name="password" id="password" placeholder="Password" />
        </div>
        <button class="btn btn-default" ng-click="reset()">Reset Password</button>
    </form>

</modal>
