
    <!--div class="gridStyle" ng-grid="transGrid"></div -->

    <a href="#createTrans" ng-show="createLabel"><i  class="{{createIcon}}">{{createLabel}}</i></a>

    <button ng-click="tableParams.sorting({})" class="btn btn-default pull-right">Clear sorting</button>

    <table ng-table="tableParams" class="table">
        <tr ng-repeat="trans in $data" ng-class="{ 'emphasis': !trans.approved }">
            <td data-title="'TransId'" ><a href="#transaction/{{trans.id}}">{{trans.id}}</a></td>
            <td data-title="'Description'" sortable="'1'">{{trans.description}}</td>
            <td data-title="'Status'">{{trans.status}}</td>
            <td data-title="'TotalCredits'" align="right">{{trans.credits}}</td>
            <td data-title="'TotalDedits'" align="right">{{trans.debits}}</td>
            <td data-title="'AddedBy'">{{trans.reported_by}}</td>
            <td data-title="'Added'">{{trans.reported}}</td>
            <td data-title="'ApprovedBy'">{{trans.approved_by}}</td>
            <td data-title="'Approved'">{{trans.approved}}</td>
            <td data-title="'Accounts'">{{trans.accounts}}</td>
        </tr>
    </table>
