<div class="alert alert-error" ng-show="error">
    {{errorMessage}}
</div>

<h3>User List</h3>
<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th style="text-align: center; width: 25px;">#</th>
        <th>User</th>
        <th> </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="user in users">
        <td>{{user.username}}</td>
        <td>{{user.email}}</td>
        <td style="width:100px;text-align: center;">
            <button class="btn btn-primary" ng-click="viewUser(user)">
                <span class="icon-eye-open icon-white"></span> View
            </button>
        </td>
    </tr>
    </tbody>
</table>
